html
  head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    title RSS2Fediwersum
    style
      include style.css
  body
    h1 Kanały RSS do Fediwersum (rss2fedi)
    f4 od zespołu <a href="https://lhub.pl">Lhub.pl</a>
    p To jest serwis oferujący Boty ActivityPub konwertujące kanały RSS do strumienia powiadomień. Możesz je subskrybować z Mastodona lub innych aplikacji zgodnych z Fediwersum/ActivityPub.
    p Lista botów <a href="https://lhub.pl/rss2fedi/">Rss2Fedi</a>
    p Chcesz nam zgłosić kolejny feed RSS do dodania? <a href="mailto:m0bi@vivaldi.net">Napisz</a>
    p Bazuje na projekcie RSS to ActivityPub Converter (<a href="https://github.com/dariusk/rss-to-activitypub/">Kod</a>) od <a href="https://friend.camp/@darius">Darius Kazemi</a>.
    
    
