html
  head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    title Feed Converter
    style
      include style.css
  body
    h1 RSS to ActivityPub Converter
    p.account by <a href="https://friend.camp/@darius">Darius Kazemi</a>
    p This is a service to convert any RSS feed into an account that Mastodon (or any other ActivityPub social network) can subscribe to.
    p <a href="/convert/">Click here to start!</a>
