html
  head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    title= displayName
    style
      include style.css
  body
    <a href="/">&larr; RSS to ActivityPub Converter</a>
    h1 Hello!
    p This is a placeholder for a message that was sent from <a href="#{feedUrl}">this RSS feed</a> via <a href="#{author}">this bot account</a>. We don't want to rehost content here, so the best we can do is point you to <a href="#{link}">this particular post</a> which the RSS feed says should contain the original content. You can share with other people from there.
